<nav
	class="bg-red-400 shadow-lg flex justify-between items-center p-4 sticky top-0 w-full z-50"
>
	<span class="font-bold text-zinc-800">
	  PokeDex</span
	>

	<ng-container *ngIf="trainer !== undefined">
		<ul class="flex">
			<li class="px-4 uppercase font-semibold">
				<a routerLink="/pokemon">Pokemons</a>
			</li>
			<li class="px-4 uppercase font-semibold">
				<a routerLink="/profile">Trainer</a>
		 </li>
			<!-- <li  class="px-4 uppercase font-semibold">
			
				<a routerLink="/" (click)="logout()"> Logout </a>
			</li> -->
		</ul>
	</ng-container>
</nav>
