<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<button
	(click)="onCatchThemAll()"
	type="button"
	class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
>
	<ng-container *ngIf="!loading else spinner">
		<ng-container
			*ngIf="isPokemonTaken; then favourite else notFavourite"
			class="material-icons"
		></ng-container>
		<ng-template #favourite>
			<span class="material-icons-outlined">
				favorite
			</span>
		</ng-template>
		<ng-template #notFavourite>
			<span class="material-icons-outlined">
				favorite_border
			</span>
		</ng-template>
	</ng-container>

	<ng-template #spinner>
		<span class="material-symbols-outlined">
autorenew
</span>
	</ng-template>
</button>
