<section class="container-lg bg-emerald-100">
	<div class="grid lg:grid-cols-4">
		<div
			*ngFor="let singelPoke of pokemon"
			class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg transform transition duration-500 hover:scale-110"
		>
			<app-profile-list-item [singelPoke]="singelPoke"></app-profile-list-item>
		</div>
	</div>
</section>
