<main class="container-lg bg-emerald-100">
	

	<div class="grid lg:grid-cols-4">
		<div
			*ngFor="let SinglePokemon of pokemon"
			class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg transform transition duration-500 hover:scale-110"
		>
				<div class="w-50 bg-white p-6 m-2" style="cursor: auto;">
					
						<div class="w-16 mx-auto relative -mt-5 mb-3">
							<img
								class="-mt-1"
								[src]="SinglePokemon.image"
								alt="SinglePokemon.name"
							/>
						</div>
						<span
							class="w-full sm:w-48 block leading-normal text-gray-800 text-md mb-3"
							>{{SinglePokemon.name | uppercase}}</span
						>
						<div class="flex items-center justify-between">
							<div class="w-1/2">
								<app-catch-pokemon-button
									[pokemonName]="SinglePokemon.name"
								></app-catch-pokemon-button>
							</div>
						</div>
					
				</div>
			
		</div>
	</div>
</main>
