<main class="container mx-auto p-4">
	<header class="container mx-auto p-4">
		<h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-red-800">
			Welcome, {{trainer?.username | uppercase}}
		</h1>
		<h4 class="text-xl text-red-800">Pokemons in PokeDex</h4>
	</header>

	<ng-container
		*ngIf="addPokemonImg.length > 0; then showPokedex; else dosentExistInPokedex"
	></ng-container>
	<ng-template #showPokedex>
		<app-profile-list [pokemon]="addPokemonImg"></app-profile-list>
	</ng-template>
	<ng-template #dosentExistInPokedex>
		<h2 class="text-xl text-black">No Pokemons in PokeDex</h2>
	</ng-template>
</main>
