


  <form class="p-10 bg-white rounded-xl drop-shadow-lg space-y-5" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
            <h1 class="text-center text-3xl">PokeDex</h1>
            <div class="flex flex-col space-y-2">
               <fieldset class="mb-3">
                <label class="block uppercase font-semibold mb-1" for="username">Username</label>
                <input ngModel #username="ngModel" class="w-96 px-3 py-2 rounded-md border border-slate-400" placeholder="Enter your username" type="text" name="username" id="username"/>
            </fieldset>
            </div>
         
            <button class="w-full px-10 py-2 bg-blue-600 text-white rounded-md
            hover:bg-blue-500 hover:drop-shadow-md duration-300 ease-in" type="submit">
               Login
            </button>

           
        </form>