<div *ngIf="singelPoke" class="w-50 bg-white p-6 m-2" style="cursor: auto;">
	<div class="w-16 mx-auto relative -mt-5 mb-3">
		<img
			class="-mt-1 scale-x-100 hover:animate-spin translate-y-6 transform-gpu"
			[src]="singelPoke.image"
			alt="SinglePokemon.name"
		/>
	</div>
	<span class="w-full sm:w-48 block leading-normal text-gray-800 text-md mb-3"
		>{{singelPoke.name | uppercase}}</span
	>
	<div class="flex items-center justify-between">
		<div class="w-1/2">
			<app-catch-pokemon-button
				[pokemonName]="singelPoke.name"
			></app-catch-pokemon-button>
		</div>
	</div>
</div>
